@charset "utf-8";

/*--------------------------------------*/
/*              Basic rules             */
/*--------------------------------------*/

:root {
    
    --app-hero-banner-background-light-blue-to-dark-blue: linear-gradient(to right,	#00FFFF, darkblue );
    --app-white: #fff;
    --app-blue: #00549A;
    --app-light-blue:#5490cd;
    --app-dark-blue: #00FFFF;
    --app-background-color: #edf1f5;
    --app-line-border-color: #ddd;
    --app-gray: #f9f9f9;
    --app-items-border-color: #000;
    --app-detail-font-color: #555;
    --app-detail-primary-font-color: #00549A;
    --app-detail-button-hover-bg-color: #00549a;
    --app-detail-button-bg-color: #003778;
    --app-detail-button-font-color: #fff;
    --app-footer-bg-color: #655f5f;
    --app-footer-height: 70px;
    --app-footer-socials-color: #001f3d;
    --app-purple: #800080;
    --app-light-pink: #ffc0cb;
    --app-red-output: #ff0000;
    --app-body-bg: #333333;
    --app-product-border: #f5f5f5;
    --app-hero-banner-degraded: linear-gradient(to right,	#baf8f8, darkblue );
}

.container {
    width: min(100% - 32px, 960px);
    margin-inline: auto;
}
.float-right{
    float: left;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--app-background-color);
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--app-body-bg);
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

a {
    text-decoration: none;
}
